.form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;

    &__input-container {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    &__input {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1.5rem;

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    &__button {
        font-size: 2rem;
        margin: auto;
        border-radius: 50px;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        background-color: transparent;
        color: var(--danger);
        border: 1px solid var(--danger);
        transition: 0.2s;
        width: 50%;
        margin: 0 auto 0 0;

        &:hover {
            background-color: var(--danger);
            border: 1px solid white;
            color: white;
        }

        &:disabled {
            filter: grayscale(1);
            opacity: 0.5;
            pointer-events: none;
        }
    }
}
