body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --danger: rgba(247, 36, 70);
    --success: rgb(123, 168, 24);
    --danger-with-transparency: rgb(247, 36, 70, 0.3);
    --success-with-transparency: rgba(123, 168, 24, 0.3);
}
